<ion-header>
  <app-topbar>
    <ion-back-button></ion-back-button>
  </app-topbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-item>
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label *ngIf="course">
        <h1>{{ course.name }}</h1>
        <h2>{{ this.utils.formatName(course.academics[0]) }}</h2>
      </ion-label>
    </ion-item>
  </div>

  <ion-card>
    <ion-list *ngIf="course && participants">
      <ion-item button [detail]="!toggled" (click)="toggleDescription()">
        <ion-icon [name]="toggled ? 'receipt' : 'receipt-outline'" slot="start"></ion-icon>
        <ion-label [ngClass]="{'bold' : toggled}">Module Description</ion-label>
      </ion-item>
      <ion-card-content *ngIf="course" [ngClass]="toggled ? 'expand' : 'hide'" (click)="toggleDescription()">
        <br>
        {{ course.description || 'this module has no description' }}
        <br><br>
      </ion-card-content>

      <ion-item button [detail]="toggledParticipants" (click)="toggleParticipants()">
        <ion-icon [name]="toggledParticipants ? 'people-outline' : 'people'" slot="start"></ion-icon>
        <ion-label [ngClass]="{'bold' : !toggledParticipants}">Module Participants</ion-label>
      </ion-item>
      <ion-item *ngFor="let participant of participants" [ngClass]="!toggledParticipants ? 'expand' : 'hide'" (click)="toggleParticipants()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>{{ participant.first_name}} {{ participant.last_name }}</ion-label> 
      </ion-item>
      
      <ion-item button detail="true" (click)="navigateToForum()">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <ion-label>Course Forum</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  
  
</ion-content>