ion-label {
    h6 {
        float: right;
    }

    h2 {
        white-space: pre-wrap;
    }
}

h1 {
    // font-weight: 700;
    // font-size: 28px;
    // line-height: 33px;
    white-space: pre-wrap;
}

h2 {
    // color: rgb(102, 102, 102);
    // font-weight: 700;
    // font-size: 12px;
    // text-transform: uppercase;
    white-space: pre-wrap;
}


